.page-container {
    height: 100%;
    min-height: 100%;
    padding: 9rem 3rem 0 3rem;
    background: #fff url('./static/img/next-bg.png');
    background-size: cover;
}

.title {
    font-weight: bold;
    color: #fff;
}

button {
    width: 100% !important;
}

.slds-button + .slds-button {
    margin-left: 0 !important;
}

.text_x-small {
    color: #fff;
}