html {
    padding: 5rem;
    font-size: calc(20vw / 3.75) !important;
}

button {
    width: 100% !important;
}

/* html {
    height: 100%;
    font-family: "Microsoft YaHei";
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
} */