.page-container {
    height: 100%;
    min-height: 100%;
    background: #fff;
}

.title {
    height: 20rem;
    background: url('./static/img/red_packet_top.jpg');
    background-size: cover;
    font-weight: bold;
    color: #0070d2;
    padding: 6.3rem 3rem 0 3rem;
    /* padding: 7.5rem 3rem 0 3rem; */
}

.slds-text-heading_medium {
    font-weight: bold !important;
}

.content {
    min-height: calc(100% - 20rem);
    padding: 0 3rem;
    background: url('./static/img/red_packet_bottom.jpg') repeat;
}

button {
    width: 100% !important;
}

.slds-button + .slds-button {
    margin-left: 0 !important;
}

.title .slds-form-element {
    margin-top: 7.5rem;
    /* margin-top: 8.3625rem; */
}

.text_x-small {
    text-align: right;
}

.text_x-small {
    color: #0070d2;
}

.bold {
    font-weight: bold;
}

.slds-form-element__label {
    min-width: 5rem;
}